<!DOCTYPE html>
<html>
<style>
	h1 { 
        font-family: Helvetica Neue;
        font-size: 3.2em;
    }
    body{
     	background-color: lavender;
     }
</style>

<head>
<title>twitter</title>
</head>

<body>

<header>
      <img src="/home/harry/Desktop/Ruby/Projects/Twitter/logo.png" alt="Twitter Logo">
      <h1 align="center">Twitter</h1>


</header>
	
	<%= yield %>



<footer>
	
</footer>
</body>

</html>